.userPanel {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 24px 48px;
}

.title {
    color: white;
    font-size: 36px;
}

.add {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.addButton {
    width: 120px;
    height: 36px;
    display: flex;
    align-items: center;
}

.addButton:focus {
    outline: none;
}

.userAddPanel {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
}

.icons {
    color: grey;
}
